html {
  background-image: url(../images/background.jpg);
}

.home-content {
  height: 400px;
  text-align: center;
}

.main-menu {
  margin-top: 10px;
  height: 200px;
}

.main-menu-button {
  border: none;
  border-radius: 6px;
  background-color: #c92c2c;
  color: white;
  width: 160px;
  height: 40px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 0.85rem;
}

.link {
  text-align: center;
}

.suibian-logo {
  width: 300px;
}
