.join-room .app-content {
  /* Firefox */
  height: -moz-calc(100vh - 60px);
  /* WebKit */
  height: -webkit-calc(100vh - 60px);
  /* Opera */
  height: -o-calc(100vh - 60px);
  /* Standard */
  height: calc(100vh - 60px);
}

.join-room .title {
  height: 70px;
}

.join-room .join-room-form {
  height: 200px;
}

.join-room .join-room-form .label {
  color: black;
}

.join-room .join-room-form .username-input {
  width: 212px;
  height: 40px;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.join-room .join-room-form .username-input::placeholder {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.join-room .join-room-form button {
  margin-top: 2px;
  font-weight: 600;
  font-size: 1rem;
  width: 212px;
  height: 40px;
  box-shadow: 0px 4px #910909;
}

.join-room .join-room-form button:hover {
  box-shadow: none;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: -4px;
}

.join-room .join-room-text {
  font-weight: 600;
  font-size: 1rem;
  width: 212px;
  color: white;
}
