.map-search-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.map-search-input-container {
  min-width: 300px;
  max-width: 800px;
  width: 85vw;
}

.map-search-input {
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  flex-grow: 1;
}

.map-search-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.map-search-suggestions {
  position: absolute;
  top: 40px;
  text-align: left;
  background: white;
  list-style-type: none;
  min-width: 300px;
  max-width: 800px;
  width: 85vw;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.map-search-suggestions li {
  font-size: 0.9rem;
  padding: 5px 10px;
  min-height: 44px;
  overflow: auto;
}

.map-search-suggestions li .map-locate-me-icon {
  width: 20px;
  height: 20px;
}

.map-search-suggestions li .current-location-option {
  margin-left: 5px;
}

.map-search-suggestions li:hover {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.map-search-suggestions li br {
  margin: 0;
}

.map-search-suggestions li small {
  position: absolute;
  margin-top: -2px;
}

.map-search-suggestions hr {
  margin: 0;
  margin-bottom: -2px;
  color: rgba(0, 0, 0, 0.1);
}
