.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 100vw;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-bottom: black;
}

.navbar-logo {
  flex-basis: 80vw;
  align-items: baseline;
  margin-top: 2%;
}

.navbar-backicon {
  flex-basis: 10vw;
  align-items: baseline;
}
