.navbar {
  background-color: black;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  justify-content: start;
  height: 60px;
}

.navbar .navbar-logo-container {
  flex-grow: 1;
}

.navbar .navbar-logo-container a {
  margin-right: 60px;
}

.navbar .navbar-logo {
  width: 130px;
}

.navbar .navbar-logo:hover {
  width: 140px;
}

.navbar .navbar-back-icon-container {
  flex-basis: 60px;
  height: 100%;
  background-color: #c92c2c;
}

.navbar .navbar-back-icon-container:hover {
  background-color: #d93232;
  text-decoration: none;
}

.navbar .navbar-back-icon-container:hover span {
  margin-left: -6px;
}

.navbar .navbar-back-icon-container span {
  color: white;
}
