/* This file is used as the default CSS for all sorts of pages!!!!! */

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: center;
}

.navbar-container {
  display: flex;
  height: 10vh;
}

.page-container {
  display: flex;
  height: 90vh;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.standard-button {
  width: 25vw;
  background: none;
  background-color: none;
  border: none;
  display: block;
  border: none;
  border-radius: 2rem;
  padding: 2vh 4vw;
  font-size: 3vh;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.red-button {
  background-color: #b84646;
  color: white;
}

.small-button-text {
  font-size: 2.5vh;
}

.red-button-hyperlink-stripped {
  text-decoration: none;
  font-family: "Avenir", Helvetica, sans-serif;
  color: white;
}

.standard-button-hyperlink-stripped {
  text-decoration: none;
  font-family: "Avenir", Helvetica, sans-serif;
  color: black;
}
