.recommendation-list .recommendation {
  background: white;
  border-radius: 6px;
  min-width: 300px;
  max-width: 800px;
  width: 85vw;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 6px 12px;
}

.recommendation-list .recommendation .recommendation-title {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: center;
}

.recommendation-list .recommendation .recommendation-text {
  font-size: 1.05rem;
  margin-bottom: 8px;
  text-align: left;
}
