.recommendations-page .recommendation-list-container {
  min-width: 300px;
  max-width: 800px;
  width: 85vw;
}

.recommendations-page .app-content .title {
  margin-top: 20px;
}

.recommendation-list-container {
}
