.room-lobby .app-content {
  margin-top: 20px;
}

.room-lobby .title {
  height: 40px;
}

.room-lobby .app-content button {
  font-weight: 600;
  font-size: 1rem;
  width: 212px;
  height: 40px;
  box-shadow: 0px 4px #910909;
  margin: 0;
  margin-bottom: 4px;
}

.room-lobby .app-content button:hover {
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.room-lobby .app-content button.disabled {
  background-color: grey;
  box-shadow: 0px 4px darkslategray;
}
