.food-votes-list-container {
  min-width: 300px;
  max-width: 800px;
  width: 85vw;
}

.food-votes-list-container p {
  margin: 0;
}

.food-votes-list-container h4 {
  margin: 0;
}

.food-votes-list-container svg {
  margin: 0;
  margin-bottom: -5px;
}
