.vote-page .app-content {
  /* Firefox */
  height: -moz-calc(100vh - 60px);
  /* WebKit */
  height: -webkit-calc(100vh - 60px);
  /* Opera */
  height: -o-calc(100vh - 60px);
  /* Standard */
  height: calc(100vh - 60px);
}

.food-image {
  align-content: center;
  height: 40vh;
  max-height: 250px;
  width: 100vw;
  max-width: 300px;
}

.food-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
